<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <% if(locals.profileUpdate){ %>
            <p>Your profile has been updated.</p>
        <% } %>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> User Details</h3>
                <h4>Please update your details to get more visibility</h4>
                <a href= "edit">Edit</a>
                    <p>
                        <% if(user.local.name){ %>
                        <strong>Name</strong>: <%= user.local.name %><br>
                        <% } %>
                        <% if(user.local.email){ %>
                        <strong>Email</strong>: <%= user.local.email %><br>
                        <% } %>
                        <% if(user.local.phone){ %>
                        <strong>Phone</strong>: <%= user.local.phone %><br>
                        <% } %>
                        <% if(user.local.subjects){ %>
                        <strong>Subjects</strong>: <%= user.local.subjects %><br>
                        <% } %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>